@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');


:root {
    --verde-escuro: #027373;
    --verde: #038c7f;
    --verde-claro: #a9d9d0;
    --branco: #fff;
    --bege: #f2e7dc;
    --preto: #0d0d0d;
    --cinza: #0d0d0d77;
}

body {
    font-family: 'Poppins', sans-serif;
}

span{
    display: inline-block;
}

/* sobrepor css do bootstrap */
ul {
    padding-left: 0px;
}

.container{
    width: 90%;
    margin: auto;
}