@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");

:root {
  --verde-escuro: #027373;
  --verde: #038c7f;
  --verde-claro: #a9d9d0;
  --branco: #fff;
  --bege: #f2e7dc;
  --preto: #0d0d0d;
  --cinza: #0d0d0d77;
}

body {
  font-family: "Poppins", sans-serif;
}

span {
  display: inline-block;
}

/* sobrepor css do bootstrap */
ul {
  padding-left: 0px;
}

.container {
  width: 90%;
  margin: auto;
}

.margem-esq {
  margin-left: var(--sidebar-width);
}

.margem-relatorio {
  margin: 1% 20px 0 calc(var(--sidebar-width) + 1%);
}

.btnVoltar {
  color: white;
  background-color: #218579;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btnVoltar img {
  height: 0.9rem;
}
