.cabecalho {
  background-color: var(--verde-escuro);
  height: 64px;
  /* 13vh */
}

.cabecalho_logo {
  padding: 20px;
}

.cabecalho_logo img {
  width: 80px;
  height: 36px;
}

.cabecalho_caixa {
  justify-content: space-between;
  height: inherit;
}

.cabecalho_menu-item span {
  display: inline-block;
  padding: 0.5rem;
  color: var(--verde-claro);
}

.cabecalho_menu-item a {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
}

.cabecalho_caixa,
.cabecalho_menu-item a {
  display: flex;
  align-items: center;
}

.cabecalho_menu-item a,
.cabecalho_menu-item span {
  transition: 1s;
}

.cabecalho_menu-item a:hover {
  background-color: var(--branco);
}

.cabecalho_menu-item a:hover span {
  color: var(--verde-escuro);
}