.formulario_caixa {
    margin: .5rem 0;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: .75rem 1.3rem;
    display: flex;
    align-items: center;
}

.formulario_caixa-img{
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    border-radius: 15px;
    background-color: var(--verde);
}

.formulario_caixa input{
    border: none;
    outline: none;
    width: 100%;
    height: 15px;
    font-size: 1.1rem;
}

.login_formulario_caixa-dados{
    width: 100%;
}
