.principal {
  background-image: url("/public/img/background.png");
  background-size: cover;
  background-position: 0% 30%;
  height: 100vh;
}

.principal_caixa {
  padding-left: 8rem;
}

.principal_texto h2 {
  width: 50%;
  font-size: 3.5rem;
  padding: 2.5rem 0;
}

.principal_texto span {
  margin-top: -7vh;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  width: 45vw;
}

.principal_texto span,
.principal_texto h2 {
  color: var(--branco);
}

@media screen and (max-width: 768px) {
  .principal {
    background-size: initial;
    height: fit-content;
    padding: 2vw;
  }

  .principal_caixa {
    padding: 1rem 0;
  }

  .principal_texto h2 {
    width: 100%;
  }

  .principal_texto span {
    width: 100%;
  }

  .principal_caixa img {
    width: 100%;
  }
}
