.cadastro_caixa{
    padding: 0 8rem;
}

.cadastro_caixa h3{
    margin: 2rem 0;
    color: var(--verde-escuro);
}

.cadastro_formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.cadastro_formulario>div{
    width: 45%;
    margin-bottom: .5rem;
}

.cadastro_formulario_enviar{
    text-align: right;
}

.cadastro_formulario_botao{
    background-color: var(--verde-escuro);
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    color: var(--branco);
    cursor: pointer;
    font-weight: 600;
}

.indentacao{
    font-weight: 600;
    padding-left: 1rem;
}


@media screen and (max-width:  768px) {
    .cadastro_formulario>div{
        width: 100%;
    }
}

@media screen and (max-width:  500px) {
    .cadastro_caixa{
        padding: 0;
    }
}